<%- include('header.ejs') -%>
<form action="/<%=pp%>/operations/Delete" method="post">
    <input type="number" name="id" placeholder="Enter ID">
    <button type="submit" value="">delete</button>
</form>
<%- include('footer.ejs'); -%>