<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud_seeker</title>
</head>
<body>
    <h1>seeker</h1>

    <!-- <form action="/seeker_ops" method="post">
        <div class="seeker-main">
            <div class="seeker-left">
                <div class="crud-ops" id="seeker-insert">
                    <input type="number" name="" id="" placeholder="ID">
                    <input type="text" name="" id="" placeholder="Name">
                    <input type="email" name="" id="" placeholder="Email">
                    <input type="tel" name="" id="" placeholder="Contact No">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Address"></textarea>
                    <input type="text" name="" id="" placeholder="Branch">
                    <input type="number" name="" id="" placeholder="CGPA">
                    <button type="submit">insert</button>
                </div>
                <div class="crud-ops" id="seeker-update">
                    <input type="number" name="" id="" placeholder="ID">Enter ID 
                    <input type="text" name="" id="" placeholder="Name">
                    <input type="email" name="" id="" placeholder="Email">
                    <input type="tel" name="" id="" placeholder="Contact No">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Address"></textarea>
                    <input type="text" name="" id="" placeholder="Branch">
                    <input type="number" name="" id="" placeholder="CGPA">
                    <button type="submit">update</button>
                </div>
                <div class="crud-ops" id="seeker-delete">
                    <input type="number" name="" id="" placeholder="ID">Enter ID 
                    <button type="submit">delete</button>
                </div>
            </div>   
            <div class="seeker-right">

            </div>
        </div>
    </form> -->

    <div class="seeker-main row">
        <div class="seeker-left col col-6">1</div>
        <div class="seeker-right col col-6">2</div>
    </div>


</body>
</html>