<%- include('header.ejs') -%>
    <h1>INSERT</h1>
    <form action="/seeker/operations/Insert" method="post">
        <input type="text" name="e_id">
        <input type="text" name="e_name">
        <input type="number" name="id" placeholder="Enter ID">
        <input type="text" name="name" placeholder="Enter New Name">
        <input type="email" name="email" placeholder="Enter New Email">
        <input type="tel" name="phone" placeholder="Enter New Contact No.">
        <input type="number" name="cgpa" placeholder="Enter CGPA">
        <input type="text" name="branch" placeholder="Enter Branch">
        <button type="submit">submit</button>
    </form>
<%- include('footer.ejs'); -%>