<%- include('header.ejs') -%>
<form action="/student/operations/Update" method="post">
    <input type="number" name="id" placeholder="Enter ID">
    <input type="text" name="name" placeholder="Enter New Name">
    <button type="submit" value="">update</button>
</form>
<%- include('footer.ejs'); -%>