*{
    margin: 0;
    padding: 0;
    /* color: bisque; */
}

/* HOME */

.home-body{
    overflow: hidden;
}
.demo-box{
    position: absolute;
    height: 400px;
    width: 700px;
    background: #000;
    right: -4%;
    bottom: -26%;
    transform: rotate(-35deg);
    /* background: linear-gradient(180deg, #3ad59f 0%,#f8ff00 100%); */
    /* background: white; */
    /* border: 3px solid white; */
}

.home-section{
    /* position: relative; */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/* Navbar */
.navbar{
    /* background: #000; */
    padding: 0;
}
nav{
    font-size: 1.3rem;
    background: white;
    padding: 0;
}

.navbar-brand:hover{
    transform: scale(1.2);
    color: #00ED64;
}

.navbar-brand{
    color: #00ED64;
    /* border: 1px solid white; */
    margin-left: 1.6rem;
    letter-spacing: .6rem;
    font-size: 3rem;
    padding: 0;
    font-family: Reem Kufi Fun;
}

.navbar-nav a:hover{
    border-bottom: 4px solid #00ED64;
    /* transform: scale(1.1); */
}
.navbar-nav{
    /* color: #00ED64; */
    /* background: white; */
    /* margin: 0 0.2rem; */
    margin-right: 0.8rem;
}
.navbar-nav a{
    margin-left: 0.2rem;
}

/* Main Home Content */

.home-container{
    height: 75vh;
    width: 100vw;
    /* border: 1px solid black; */
    /* background: #000; */
    /* position: relative; */
    
}

.home-col-sm {
    height: 75vh;
    width: 100%;
    /* border: 1px solid black; */
    /* border-left: 2px solid black; */
    /* background: #000; */
}

/* left */

#home-left{
    /* border: 1px solid black; */
    /* background: blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    padding-bottom: 0rem;
    margin-top: 1rem;
}
.header_container{
    /* border: 1px solid black; */
    background: linear-gradient(180deg, #3ad59f 0%,#f8ff00 100%);
    /* background: linear-gradient(180deg, #00C9FF 0%, #92FE9D 100%); */
    padding: 2rem;
    padding-top: 2.5rem;
    border-radius: 35px; 
    font-family: PT SERIF;
}

.fa-hashtag{
    /* background: #000; */
    /* border: 1px solid black; */
    font-size: 6rem;
    font-weight: 900;
}

.hashtag-container{
    background: #000;
    margin-left: 2rem;
    height: 6rem;
    width: 6rem;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 4rem;
    /* font-family: Hammersmith One; */
    text-align: center;
    padding: 0.5rem 1rem 1rem 0.5rem;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    background: linear-gradient(180deg, #d53369 0%, #daae51 100%);

    /* Created with https://www.css-gradient.com */
background: #49E199;
background: -webkit-linear-gradient(top right, #49E199, #FE9EE1);
background: -moz-linear-gradient(top right, #49E199, #FE9EE1);
background: linear-gradient(to bottom left, #49E199, #FE9EE1);
    /* padding-right: 0.5rem;
    padding-bottom: 0.5rem; */
    /* background: orangered; */
    /* border: 1px solid black; */
}
.home-header{
    /* background: #000; */
    font-size: 6rem;
    padding: 1rem 2rem;
}

/* right */

#home-right{
    /* border: 1px solid white; */
    /* background: yellow; */
    /* padding: 2rem 1rem; */
    color: black;
}

.home-features{
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background: #000; */
    /* text-align:center; */
    justify-content: center;
    align-items: center;
    position: relative;
}
.single-feature{
    /* border: 1px solid black;/ */
    margin: .5rem 0;
    /* display: block; */
}
.single-feature h3{
    /* color: orange; */
    font-size: 1.2rem;
}
.single-feature i{
    font-size: 1.2rem;
}

.feature-header{
    /* border: 1px solid black; */
    /* border: 1px solid black; */
    display: inline-block;
    width: 20rem;
    text-align: left;
    margin-left: 0.5rem;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
}
/* Home btn */

.home-btn:hover{
    border-radius: 10rem;
    transition: none;
    background: rgb(0, 237, 100);
    color: black;
}
.home-btn{
    position: absolute;
    width: 10vw;
    left: 40%;
    bottom: 2%;
    background: rgb(0, 237, 100);
    color: black;
    font-size: 1.2rem;
    /* text-shadow: 1px 1px 1px black; */
    /* margin-top: 15rem; */
    /* bottom: 10%; */
    /* margin: 0 45vw; */
}

/* Footer */

.footer{
    /* border: 1px solid black; */
    /* background: white; */
    width: 100vw;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.footer h1{
    font-size: 0.6rem;
}

/* Crud-Initial */
/* LogIN */

/* Colors
white #F6FBF4
green #5FD068
*/

.login-main{
    position: relative;
    /* border: 1px solid black; */
    height: 100vh;
    /* width: 100vw; */
    overflow: hidden;
    padding: 2rem;
    background: white;
}
.login-inner-main-container{
    height: 100%;
    width: 100%;
    background: rgb(234, 255, 213);
    border-radius: 1rem;
    margin: 0;
}

.login-form-main-container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.login-form-inner-main-container{
    /* color: white; */
    background: rgb(0, 237, 100);
    background: lawngreen;
    background: #000;
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
    /* border: 1px solid black; */
    /* background: red; */
}

.login-header{
    margin-top: 1rem;
    text-align: center;
    width: 90%;
    position: absolute;
    top: 3%;
    color: #00ED64;
    color: white;
    border-bottom: 3px solid #00ED64;
    padding: 0 0.8rem;
    padding-bottom: 1rem;
    /* left: 3%; */
    font-size: 4.5rem;
}
.login-h1-one{
    /* color: black; */
    top: 2%;
}
.login-h1-two{
    /* color: black; */
    top: 16%;
}
.login-span{
    /* border: 1px solid black; */
    padding: 0 1rem;
}
/* form */


.login-form{
    /* background: blue; */
    min-height: 35%;
    /* border: 1px solid black; */
    padding: 1rem;
    position: absolute;
    bottom: 10%;
}

.input-group 
.login-unam:focus{
    width: 11.5vw;
}
#exampleInputPassword1{
    width: 28.5vh;
}
.login-btn:hover{
    border-radius: 10rem;
    background: #00ED64;
}
.login-btn{
    position: absolute;
    width: 7vw;
    bottom: 1%;
    left: 2vh;
    background: #00ED64;
    border: 0;
}
.logout-btn:hover{
    border-radius: 10rem;
    background: red;
}
.logout-btn{
    width: 7vw;
    position: absolute;
    bottom: 1%;
    left: 17vh;
    background: red;
    border: 0;
}

/* right side of form */

.crud-initial-main-container{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* background: #000; */
}
.crud-initial-inner-main-container{
    height: 50%;
    width: 105%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: red; */
}
.crud-initial-request-container{
    width: 90%;
    height: 90%;
    /* border: 1px solid black; */
    /* background: red; */
    background: #00ED64;
    background: linear-gradient(lawngreen,#00ED64);
    color: white;
    text-shadow: 1px 1px green;
    border-radius: 25px;
    position: relative;
}
.crud-initial-header{
    position: absolute;
    top: 2%;
    left: 3%;
}
.crud-initial-btn:hover{
    background: black;
    color: #00ED64;
    text-shadow: 0.4px 0.4px white;
    border-radius: 10rem;
    /* border: 2px solid black; */
}
.crud-initial-btn{
    position: absolute;
    width: 10vw;
    bottom: 6%;
    right: 4%;
    color: #00ED64;
    text-shadow: 0.4px 0.4px white;
    /* background: white; */
    border: 0;
}
/* Left Right side completed */

.crud-init-footer-header{
    position: absolute;
    bottom: 0;
    /* left: 48.4%; */
    text-align: center;
    left: 0;
    font-size: 0.6rem;
    /* background: #000; */
    width: 100vw;
}

/* Crud initial completed */


/* CRUD page */

/* .col-6{
    height: 100vh;
}

.left-col{
    background: blue;
}
.right-col{
    background: red;
} */
/* Starts from here */

.crud-main{
    min-height: 100vh;
    overflow: hidden;
    /* background: #000; */
    margin: 0;
}
.crud-first-row{
    height: 100vh;
}
.crud-second-row{
    min-height: 50vh;
}
/* .seeker-left-col{
    background: red;
} */
/* .seeker-mid-col{
    background: yellow;
}
.seeker-right-col{
    background: blue;
}
.seeker-second-col{
    background: green;
} */
.crud-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    position: relative;
}
.form-inputs{
    display: block;
}
.crud-delete-header{
    position: absolute;
    top: 2rem;
}
.crud-col span{
    width: 20vh;
    /* color: red; */
    text-align: left;
    /* border: 1px solid black; */
}

/*  Login Faliure Page */

.login-faliure-main h1{
    font-size: 5rem;
    margin: 1rem;
    /* background: #000; */
}
.login-faliure-main button{
    margin: 4rem 1rem;
}

.request-go-back{
    position: absolute;
    top: 2%;
    left: 5%;
}

/* seeker crud ops*/

.insert-form input, .update-form input, .delete-form input{
    border: 2px solid black;
    border-radius: 10px;
}

.insert-form, .update-form{
    padding: 3rem;
    border-radius: 20px;
    background: rgb(255, 235, 235);
    background: #EAFFD5;
    background: linear-gradient(180deg, #e3ffe7 0%, #d9e7ff 100%);
    ;
    /* border: 4px solid lawngreen; */
    /* border: 4px solid #00ED64; */
}

.insert-form{
    margin-left: 15rem;
}
.update-form{
    margin-right: 15rem;
}

.delete-form{
    /* border: 4px solid lawngreen; */
    /* border: 4px solid #00ED64; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seeker-btn{
    width: 8vw;
}
.crud-mid-col{
    /* background: #000; */
}

/* provider crud ops*/
.crud-main
input[type=text],
input[type=number],
input[type=email],
input[type=tel]{
    /* border: 2px solid black; */
    padding: 0.5rem;
    margin: 2rem;
    /* background: #000; */
}

#inst{
    margin-left: 2rem;
}
#del{
    /* margin-left: 2rem; */
}
#updt{
    margin-left: 2rem;
}
#flt{
    margin-top: 10rem ;
}

.filter-btn{
    width: 10vw;
}

/* final table */

.final-table-main-container{
    /* width: ; */
    /* background: #000; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.final-table{
    min-height: 85%;
    max-width: 75%;  
}

/* About */
 .about-body{
    /* background: black; */
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .about-main{
    height: 80%;
    width: 90%;
    padding: 2rem 3rem;
    background: linear-gradient(yellow,#00ED64);
    background: linear-gradient(-25deg,#f8ff00 0%, aqua 100%);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 55px;
    position: relative;
 }

 .about-brand:hover{
    transform: scale(0);
 }
 .about-brand{
    position: absolute;
    right: 5%;
    font-size: 4.5rem;
    text-shadow: 1px 1px white;
    cursor: pointer;
 }

 .about-header{
    margin-bottom: 2rem;
    font-size: 5rem;
    color: white;
    text-shadow: 1px 1px black;
    letter-spacing: 6px;
 }
 .dev-header{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-shadow: 0.5px 0.5px black;
    color: white;
    letter-spacing: 2px;
 }
 .dev-header span{
    font-size: 2rem;
    color: black;
 }

 .about-content-container{
    margin-top: 3rem;
    /* background: #000; */
    letter-spacing: 2px;
 }
 .para-header{
    font-size: 1.75rem;
    margin-bottom: 1rem;
 }
 .para-header strong{
    font-size: 1.8rem;
    color: white;
    font-weight: bolder;
 }
 .about-para{
    font-size: 1.1rem;   
 }
 .about-btn:hover{
    color: black;
    background: none;
    color: white;
    text-shadow: 0.5px 0.5px black;
 }
 .about-btn{
    /* color: white; */
    color: black;
    background: none;
    /* border: 2px solid white; */
    font-size: 1.1rem;
 }